.container {
  max-width: 500px;
  margin: auto;
  padding: 20px;
}

.input-group {
  margin-bottom: 15px;
}

.list-group-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
